<html>
	<head>
		<title>Guppy</title>
		<link rel="stylesheet" href="../static/stylesheets/style.css">
		<link rel="shortcut icon" href="../static/images/favicon.ico" />
	</head>

	<body>
		<div class="heading-container">
			<h1 class="heading">guppy</h1>
		</div>

		

		<div class="image-container">
			<img class="logo-one" src="../static/images/logo-1.png" alt="logo">
		</div>

		<div class="search-container">
			<form action="/result" method="get">
				<input type="text" name="product_url" placeholder="copy and paste a product url" class="search-box"/>
				<button type="submit" class="search-button">Decide</button>
			</form>
			<br/>
			<p class="tag-line">Decides For You</p>
		</div>

		<div class="footer-container">
			<div class="navbar">
			  <a href="/contact">Contact</a>
			  <a href="/how">How Does It Work</a>
			  <a href="/about">About Us</a>
			  <a href="/" class="active">Home</a>
			</div>
		</div>
		
	</body>
</html>




